
 
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

body {
    font-family: "jost", serif;
    min-height: 100vh;
    background: rgba(158, 167, 173, 0.8);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
  background: transparent; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(10px); */
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

 .navbar-container .navbar-menu li a:hover,
 .navbar-container .navbar-menu li a.active {
    color: #162530;
    background: rgba(188, 212, 229, 0.8);
    border: 2px solid #fff;

 }
 
 .navbar-container .navbar-menu.active {
    display: flex;
 }

 .navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
 }

 .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
 }



 /* Responsive style */
 @media (max-width: 880px){
    .nav{
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow:  0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);

    }

    .navbar-toggle {
        display: block;
        z-index: 999;
        
    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

      .navbar-toggle.active .bar:nth-child(1){
        transform: translatey(8px) rotate(45deg);
    }

         .navbar-toggle.active .bar:nth-child(3){
        transform: translatey(-8px) rotate(-45deg);
    }

     .footer-container {
    padding: 0 1.5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    justify-content: flex-start;
  }


 }

 @media (max-width:480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-logo{
        font-size: 1.2rem;

    }

    .navbar-container .navbar-menu li a{
        font-size:  1.2rem;
        padding: 3px 15px;
    }

      .footer-container {
    padding: 0 1rem;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-links a {
    font-size: 1.1rem;
  }
 }

 @media (min-width: 900px) {
 .card-container {
 grid-template-columns: repeat(6, 1fr); 
}
 }

 .footer {
  background: transparent;
  /* color: #fff; */
  padding: 2rem 1rem;
  text-align: center;
  margin-top: auto;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: rgba(53, 116, 161, 0.8);
}


/* .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  margin-top: 20px;
  padding: 0 16px;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.card:hover {
  background: #f0f0f0;
  transform: scale(1.02);
}

.player-card {
  background: #007bff;
  color: white;
  padding: 16px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
} */




.card-container {
 display: grid;
 gap: 12px;
padding: 16px;
justify-content: center;
grid-template-columns: repeat(4, 1fr); /* Default: 4 kolom */
}



.card {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 70px;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

.player-card {
  display: flex;
 align-items: center;
   background-color: #fff8c4;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
   gap: 16px;
}

.player-icon {
  font-size: 32px;
}

.player-info h3 {
  margin: 0;
  font-size: 18px;
  color: #444;
}

.player-info p {
margin: 4px 0 0;
 color: #888;
}

.player-btn {
 margin-left: auto;
background-color: #ffd700;
border: none;
padding: 8px 16px;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
 transition: background-color 0.2s;
}

.player-btn:hover {
 background-color: #ffcb05;
}

.card-image {
  width: 50px;
  height: auto;
  object-fit: contain;
 border-radius: 6px;
}

.player-image {
 width: 100px;
 object-fit: contain;
 border-radius: 6px;
}
 /* colors.css */

.bg-yellow {
 background-color: #fff8c4;
}

.bg-primary {
 background-color: #007bff;
}

.text-dark {
 color: #333;
}

.text-muted {
 color: #888;
}

.text-white {
 color: #fff;
}
